/* Global styles */
body {
  font-family: Arial, sans-serif;
}

/* Header styles */
#timer {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#highscore-link {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  text-decoration: none; /* Removes underline */
  cursor: pointer;
}

/* Main container and sections */
#quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Utility class for hiding elements */
.hide {
  display: none;
}

/* Question container */
#question-container {
  /* Add styles specific to question-container if needed */
}

#question {
  margin-top: 80px;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 30px;
}

#answer-buttons button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  border: none;
  padding: 10px 20px;
  width: auto;
  margin-top: 10px;
}

/* Styling for horizontal line */
#question-container hr {
  border: none;
  border-top: 1px solid lightgrey;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Button grid for answer options */
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

/* Button styles */
button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Highscores list */
#highscores-list {
  list-style-type: none;
  padding: 0;
}

/* Feedback message */
.feedback-message {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 500px;
  left: 0;
  padding: 10px 0;
  background: transparent;
  color: #333;
  font-size: 1.2em;
  display: none;
  font-weight: bold;
  font-size: large;
}
